<style >
</style>
<template class="">
  <div id="map" style="width:1000px; height:600px">
  </div>
</template>
<script>
import Vue from 'vue';
import API from '../api.js';
import {renderMap} from '../vuex/actions.js';

export default {
  vuex: {
    getters: {
       map: state => state.map
    },
    actions: {
      renderMap
    }
  },
  data: function () {
    return {
      commentMapData: null
    }
  },
  methods: {
    getComment: function(){
      console.info("[Map] getComment()");
      API.getComment()
      .then((response)=>{
        console.info("[Map] getComment() せーこー");
        this.commentMapData = response;
        console.log("[Map] commentMapData: " + this.commentMapData)
      })
    },
    addInformationWindow: function(){ // Idekun
        console.info("[Map] addInformationWindow()");
        console.info(this.commentMapData.length);
        for(let i=0; i<this.commentMapData.length; i++){
          let pos = {lat: this.commentMapData[i].latitude, lng: this.commentMapData[i].longitude};
          let contentString = 'name: ' + this.commentMapData[i].name
          + '\n content: ' + this.commentMapData[i].content;
          let infowindow = new google.maps.InfoWindow({
            content: contentString
          });
          let marker = new google.maps.Marker({
            position: pos,
            map: this.map,
            title: 'Pin'
          });
          marker.addListener('click', () => {
            infowindow.open(this.map, marker);
          });
        }
    }
  },
  created(){
    console.info("[Map] created");
  },
  ready(){
    this.renderMap();
    this.getComment();
  },
  watch: {
    commentMapData: function() {
      console.log("watch")
      this.addInformationWindow();
    }
  }
}
</script>
