<style>
  html{
    width: 100%;
    height: 100%;
  }
  body{
    width: 100%;
    height: 100%;
  }
</style>

<template class="">
  <router-view></router-view>
</template>

<script>
import Vue from 'vue'
import store from '../vuex/store';
export default {
  store,
  vuex: {
    actions: {
    }
  },
  methods: {
  },
}
</script>
